streamlit
numpy
pandas
scikit-learn
matplotlib
seaborn
plotly
ydata-profiling
lxml
openpyxl
jupyter
opencv-python
stqdm
profiling
tensorflow
streamlit-pandas-profiling
streamlit-image-select
streamlit-image-comparison
streamlit-extras
